#counters {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  column-gap: 1rem;
  width: 85%;
}

#days, #hours, #min, #sec {
  box-shadow: 2px 2px 6px var(--sp-green);
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: box-shadow 0.7s ease-in-out;
}

.timePart {
  display: flex;
  padding-top: 1rem;
  color: var(--sp-dark-gray);
  font-weight: 500;
  text-shadow: 0.5px 0.5px 3px var(--sp-green);
  transition: color 0.7s ease-in-out, text-shadow 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

#counters:hover #days {
  box-shadow: 2px 2px 6px var(--fface-red); 
}

#counters:hover #hours {
  box-shadow: 2px 2px 6px var(--fface-red); 
}

#counters:hover #min {
  box-shadow: 2px 2px 6px var(--fface-red); 
}

#counters:hover #sec {
  box-shadow: 2px 2px 6px var(--fface-red); 
}

#counters:hover .timePart {
  color: var(--sp-dark);
  text-shadow: 0.5px 0.5px 3px var(--fface-red);
  opacity: 0.2;
}

#counters:hover .countdownPeriod {
  color: var(--fface-red);
}

.countdownPeriod {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  line-height: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  color: var(--sp-green);
  font-size: 1.25rem;
  text-shadow: 1px 1px 4px #000000;
  transition: color 0.7s ease-in-out;
}

@media only screen and (max-width: 395px) {
  .countdownPeriod {
    font-size: 0.75rem;
  }

  #counters {
    column-gap: 0.25rem;
    width: 100%;
  }

  #days, #hours, #min, #sec {
    border-radius: 15px;
  }
}

@media only screen and (min-width: 425px) {
  #counters {
    width: 100%;
  }
}

/*@media only screen and (max-width: 395px) {
  #bigMin, #bigSec {
    display: none;
  }

  #smallMin, #smallSec {
    display: flex;
  }
}

@media only screen and (min-width: 394px) {
  #bigMin, #bigSec {
    display: flex;
  }

  #smallMin, #smallSec {
    display: none;
  }
}*/

