* {
  box-sizing: border-box;
  flex-shrink: 1;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed-top;
  width: 100%;
  max-width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  padding-right: 0px !important;
  margin-right: 0px !important;
}

#logo {  
  height: 4rem;
  margin: 0;
  padding: 0;
  transition: filter 0.5s ease-in-out;
}

#logo:hover {
  filter: brightness(1.5);
}