#header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  min-width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

#logo {  
  height: 3rem;
  padding: 0;
  padding-right: 1.5rem;
}