#email {
  background-color: var(--sp-input-bg-dark);
  transition: opacity 0.8s ease-in-out;
  border-color: var(--sp-dark);
  padding: 1.25rem;
  width: 65%;
  color: var(--sp-light);
  box-shadow: var(--apple-box-shadow) !important;
} 

#email::placeholder {
  color: var(--sp-med-gray);
}

#email:hover {
  box-shadow: var(--fface-red) 1px 1px 15px 1px;
}

#email:active, #email:focus {
  border-color: transparent;
}

form {
  display: flex;
}