* {
  box-sizing: border-box;
}

#root {
  display: flex;
  background-color: var(--sp-dark);
  color: var(--sp-light);
  min-width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100%;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  font-family: var(--paydev-font);
  align-items: center;
}

@font-face {
  font-family: 'Lucida Console', Raleway, sans-serif;
  src: url('assets/lucon.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: left;
}

#banner-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#countdown {
  display: flex;
  justify-content: center;
}


